<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div align="center">
<th:block th:include="/menu"/>  

<h2>Paiement effectue  avec succes </h2>


 <a th:href="@{'/'}">back to homepage</a>
 <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
<th:block th:include="/footer"></th:block> 

</div>
</body>
</html>