<!DOCTYPE html>

	<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			 xmlns:th="http://www.thymeleaf.org"
		layout:decorate="~{menu1.html}">
		
		<head>
			<meta charset="utf-8">
			<title>Home</title>
			<link rel="stylesheet"
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
				integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
				crossorigin="anonymous">
			
		</head>
		<body>
			<div layout:fragment="content">
				<th:block th:include="/menu"/>
				
			</div>
		</body>
	</html>
				